@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --border-color: rgb(94, 61, 0);
    --light-orange: rgb(255, 251, 243);
}

html,
body {
    font-family: 'Lato', sans-serif;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: rgb(255, 224, 165);
    height: 60px;
    z-index: 20;
}

nav>.nav-links {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav>.nav-links a {
    color: rgb(31, 31, 31);
    text-decoration: none;
}

.nav-icons {
    display: flex;
    gap: 10px;
}

.icon-button {
    position: relative;
    cursor: pointer;
    min-width: 35px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: transparent;
}

.icon-button:hover {
    background-color: rgb(255, 205, 112);
}

.icon-button .notification {
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    background-color: orangered;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: none;
}

.icon-button .notification.show {
    display: flex;
}

#menu-btn {
    display: none;
}

@media screen and (max-width: 430px) {
    nav>.nav-links {
        position: fixed;
        top: 60px;
        left: 0;
        background-color: rgb(255, 233, 194);
        width: 100%;
        height: calc(100vh - 60px);
        flex-direction: column;
        transform: translateX(100%);
        transition: all 1s ease;
    }

    nav>.nav-links.show {
        transform: translateX(0);
    }

    #menu-btn {
        display: block;
    }
}

.cart {
    position: fixed;
    top: 60px;
    right: 0;
    width: 350px;
    background-color: rgb(255, 237, 205);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 60px);
    padding: 10px 20px;
    transform: translateX(100%);
    transition: all 1s ease;
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 430px) {
    .cart {
        width: 100%;
    }
}

.cart.show {
    transform: translateX(0%);
}

#cart-close-icon {
    align-self: flex-end;
}

.cart h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.details {
    border-top: 1px solid var(--border-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
    margin-top: 10px;
}

.checkout {
    cursor: pointer;
    border: 0;
    padding: 10px 30px;
    background: linear-gradient(to bottom, gray, black);
    color: white;
    border-radius: 5px;
}

.morale {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--light-orange);
    padding-top: 60px;
}

.morale>div {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.morale img {
    width: 500px;
}

.tag-lines h1 {
    font-size: 70px;
}

.tag-lines p {
    padding: 0 30px;
    letter-spacing: 1px;
    text-align: center;
}

.motto {
    color: rgb(0, 220, 146);
    margin-top: 20px;
}

@media screen and (max-width: 1030px) {
    .morale img {
        width: 400px;
    }
}

@media screen and (max-width: 880px) {
    .tag-lines h1 {
        font-size: 40px;
    }

    .morale img {
        width: 300px;
    }
}

@media screen and (max-width: 680px) {
    .morale {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 480px) {
    .morale img {
        width: 90%;
    }

    .tag-lines p {
        padding: 10px 0;
    }

    .motto {
        margin-top: 0px;
    }
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 100px 20px;
    text-align: center;
    padding-top: 160px;
}

.about div {
    flex: 1;
    padding: 50px;
    letter-spacing: 1px;
}

.about h1 {
    font-size: 60px;
}

.about div:nth-of-type(1) {
    border-right: 1px solid var(--border-color);
}

@media screen and (max-width: 760px) {
    .about {
        flex-direction: column;
        padding: 50px 20px;
    }

    .about div {
        flex: 1;
        padding: 10px;
    }

    .about h1 {
        font-size: 40px;
        padding-bottom: 10px;
    }

    .about div:nth-of-type(1) {
        border-right: 0;
    }
}

@media screen and (max-width: 430px) {
    .about h1 {
        font-size: 30px;
    }
}

.products {
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
    padding-top: 80px;
    background-color: var(--light-orange);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products h1 {
    padding-bottom: 20px;
    font-size: 60px;
}

.products input {
    width: 700px;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.products .all-products-container {
    padding: 20px;
}

@media screen and (max-width: 770px) {
    .products h1 {
        font-size: 40px;
    }

    .products input {
        width: 500px;
    }
}


@media screen and (max-width: 580px) {
    .products h1 {
        font-size: 40px;
    }

    .products input {
        width: 100%;
    }
}

.product-card {
    background-color: white;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 5px rgba(147, 147, 147, 0.46);
    transition: all 100ms ease-in-out;
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.product-card .product-details {
    padding: 20px;
}

.product-card .product-details h2 {
    color: orange;
}

.product-card .product-details small {
    color: gray;
}

.product-card .add-to-cart-btn {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 0;
    background-color: orange;
    color: white;
}

.product-card .add-to-cart-btn:active {
    background-color: rgb(54, 54, 54);
}

.all-products-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}

@media screen and (max-width: 770px) {
    .all-products-container {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 630px) {
    .all-products-container {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 430px) {
    .all-products-container {
        grid-template-columns: auto;
    }
}

.tag-lines {
    animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.vector-image {
    animation: slideIn 2s ease-in forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.cart-items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.cart-items-container .message {
    text-align: center;
}

.cart-product-card {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.cart-product-card img {
    height: 100px;
    width: 120px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.cart-product-card .cart-product-details {
    padding: 10px;
    flex: 1;
}

.cart-product-card button {
    border: 0;
    cursor: pointer;
    background-color: rgb(216, 216, 216);
    padding: 10px;
    border-radius: 0 10px 10px 0;
}

.cart-product-card button:hover {
    background-color: rgb(255, 209, 123);
}

.cart-product-card .cart-product-details p:nth-child(1) {
    color: orange;
}

.cart-product-card .cart-product-details small {
    color: gray;
}

footer {
    background-color: rgb(64, 42, 0);
    text-align: center;
    color: white;
    padding: 20px;
}